/Lab0/*
!/Lab0/Lab1
/Lab1/*
!/Lab1/Lab1_code_v
/Lab2/SME309_Lab2
/Lab3/SME309_Lab3
Lab3/MyCycle/xsim.dir/tb_MCycle_behav.wdb/xsimSettings.ini
/DJY_Lab3/*
!/DJY_Lab3/Hardware
/Project/*
!/Project/RTL
!/Project/Simv
!/Project/RISCV32I/*.v
!Project introduction.md
!/Project/Constraint_Source
!/Project/Photo for Project introduction
!/Project/RISCV文档.pdf
!/Project/Project_Introduction_Final.pdf
!/Project/2_SME309 Final_Project_Requirements_2023.docx
